# ASPNET
ASPNETCORE_URLS=http://+:8080
ASPNETCORE_ENVIRONMENT=Production


# Db
DB_HOST=postgres
DB_PORT=5432
DB_NAME=some_name
DB_USER=some_user
DB_PASSWORD=some_password

# Client / Api
CLIENT_URL=http://localhost
CLIENT_HTTPS_URL=https://localhost